.mi-tooltip {
  width: auto;
  color: black;
  text-align: center;
  border-radius: 6px;
  padding: 6px 10px;
  position: absolute;
  z-index: 9999999999999;
  opacity: 0;
  font-family: 'Open Sans', sans-serif !important;
  line-height: 1.4;
  cursor: pointer;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 1px;
  transition: opacity 0.2s ease-in-out;
}

.mi-tooltip::after {
  content: "";
  position: absolute;
  /* top: 100%;
  left: 50%;
  margin-left: -6px; */
  top: 50%;
  left: -5px;
  margin-left: -9px;
  border-width: 7px;
  border-style: solid;
  border-color: transparent white transparent transparent;
  /* border-color: white transparent transparent transparent; */
}

.mi-tooltip.show {
  opacity: 1;
  transition: opacity 0.2s ease-in-out;
}

::-moz-selection {
  /* Code for Firefox */
  color: #fff;
  background: #ff891c;
}

::selection {
  color: #fff;
  background: #ff891c;
}